
  @import "_variables.scss";
  .box{
    padding-top: 10rem;
    height: 100vh;
  }
  .box2{
    height: 50vh;
  }

  .box3{
    li{
        height: 20vh;
    }
  }
  
  .SubTitle{
    color:$accent-color;
    font-size: 1.2rem;
    margin-top: -2rem;
    @media screen and (max-width: 600px) {
      font-size: .8rem;
      margin-top: -1.5rem;
    }

    &::after{
      content: " ― ";
    }
    &::before{
      content: " ― ";
    }
  }

  .TitleFont{
    font-size:1.4rem;
    @media screen and (max-width: 1300px) {
        font-size:1.2rem;
    }
    @media screen and (max-width: 1000px) {
        font-size:1rem;
    }

  }
  .ComentFont{
    font-size:1rem;
    @media screen and (max-width: 1300px) {
        font-size:.8rem;
    }
    @media screen and (max-width: 1000px) {
        font-size:.7rem;
    }
  }
  .container{
    max-width: 1200px;
    margin: 0 auto;
  }
  .visible {
    opacity: 0;
    transition: transform 0.5s linear;
    animation-duration: 2.5s;
    animation-fill-mode: both;
  }
  /*　brightness　*/
  .effect {
    animation-name: imgbrightness;
    opacity: 1;
    transition: .8s;
  }
  @keyframes imgbrightness {
    0% {
      opacity: 0;
      filter: brightness(300%);
    /*　明度300%　*/
    }
    100% {
      opacity: 1;
      filter: brightness(100%);
    /*　100%が基準値　*/
    }
  }