.Footer {
    margin-top: 5rem;
    padding: 3rem;
    background-color: #ad753d;
    @media (max-width: 1024px) {
        padding: 1rem;
    }
}
.FooterContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 700px) {
        font-size: .8rem;

    }
    .addressContainer {
        display: flex;
        @media (max-width: 1024px) {
            width: 50%;
            flex-direction: column;
        }
    }
    .address {
        padding: 1rem;
        p {
            margin: 0;
        }
    }
    nav {
        width: 50%;

        ul {
            display: flex;
            justify-content: space-between;
            @media (max-width: 1024px) {
                flex-direction: column;
                align-items: center;
            }
            li {
                display: inline-block;
                padding: 1.5rem;
            @media (max-width: 700px) {
                padding: 0.5rem;
                font-size: .8rem;
            }

            }
        }
    }
}
