@import "_variables.scss";
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'M PLUS 1p', sans-serif;
  color:$font-block;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.visible {
  opacity: 0;
  transition: transform 0.5s linear;
  animation-duration: 2.5s;
  animation-fill-mode: both;
  height: 100vh;
}
/*　brightness　*/
.effect {
  animation-name: imgbrightness;
  opacity: 1;
  transition: .8s;
}
@keyframes imgbrightness {
  0% {
    opacity: 0;
    filter: brightness(300%);
  /*　明度300%　*/
  }
  100% {
    opacity: 1;
    filter: brightness(100%);
  /*　100%が基準値　*/
  }
}